* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Tektur', sans-serif;
}

body {
    background: #151515;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: antiquewhite;
    font-size: xx-large;
    color: rgb(140, 255, 0);
}

#registrationNo,
#btn1 
{
    height: 40px;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    
}

#registrationNo {
    height: 40px;
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

#btn1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    height: 40px;
    width: 150px;
    background-color: rgb(140, 255, 0);
    font-size: large;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

#btn1:hover {
    cursor: pointer;
    background-color: #151515;
    color: rgb(140, 255, 0);
    padding-bottom: 2px;
}

#fillForm {
    position: relative;
    width: 40%;
    height: 80vh;
    border: 2px solid rgb(140, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #151515;
}

#fillForm .logo {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* stop overlapping of logo and img in output box */


#outputBox .logo {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

#outputBox {
    position: absolute;
    width: 40%;
    height: 80vh;
    border: 2px solid rgb(140, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #151515;
    visibility: hidden;
}

#btn2 {
    margin-top: 10px;
    height: 40px;
    width: 150px;
    background-color: rgb(140, 255, 0);
    font-size: large;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

#btn2:hover {
    cursor: pointer;
    background-color: #151515;
    color: rgb(140, 255, 0);
}

#output {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

#img img {
    display: block;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 10px auto;
}


#output p {
    padding: 5px;
    font-size: x-large;
    color: rgb(140, 255, 0);
    text-align: center;
}

#output h1 {
    padding: 5px;
    font-size: xx-large;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1111px) {
    #fillForm, #outputBox {
        width: 45%;
        margin: 5px;
    }

    #fillForm .logo, #outputBox .logo {
        width: 90%;
        height: auto;
    }

    label {
        font-size: 30px;
    }
}

@media (max-width: 945px) {
    #fillForm, #outputBox {
        width: 95%;
        margin: 5px;
    }

    #fillForm .logo, #outputBox .logo {
        width: 90%;
        height: auto;
    }

    label {
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    #fillForm, #outputBox {
        width: 95%;
        margin: 5px;
    }

    #fillForm .logo, #outputBox .logo {
        width: 80%;
        height: auto;
    }
    #registrationNo {
         width: 300px;
         height: 40px;
    }
    label {
        font-size: 20px;
    }
}